body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.container {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
}
.result__list {
  max-width: 560px;
  padding: 32px;
  display: flex;
  flex-direction: column;
  border: 1px solid #e3e3e3;
  border-radius: 5px;
}
.result__list-item {
  border-bottom: 1px solid #e3e3e3;
  padding: 13px 0;
  display: flex;
  flex-direction: column;
  gap: 3px;
}
.result__list-item:last-child {
  border-bottom: none;
}
